Source: bonhava-group-web-terminal
Package: bonhava-group-web-terminal
Priority: optional
Version: 1.0.5
Section: admin
Maintainer: Bonhava Group <info@bonhava-group.com>
Homepage: https://www.bonhava-group.com
Architecture: amd64
Depends: hestia, nodejs (>= 20.0.0)
Description: bonhava-group web terminal
 bonhava is an open source hosting control panel.
 bonhava has a clean and focused interface without the clutter.
 bonhava has the latest of very innovative technologies.
 bonhava is a fork from hestia originally from VestaCP, special thanks to vestacp.com and Serghey Rodin
